
  .aboutMe{
    font-size: 30px;
    margin-top: -5%;
    text-align: center;
  }

  .work-experience{
    height: fit-content;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .work-experience h2{
    color: #DCE1E5;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
  }

  .work-experience h3{
    color: #DCE1E5;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-top: 4%;
  }