.header{
    width: auto;
    height: 58px;
    background-color: #181919;
    color: #DCE1E5;
    display: flex;
  }
  
  .logo{
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #195D15;
    padding-left: 20px;
    align-items: center;
    text-decoration: none;
  }
  
  .menu-btns{
    display: flex;
    gap: 25px;
    align-items: center;
    margin: auto;
    width: 50%;
    justify-content: center;
  }
  
  .home-btn{
    color: #DCE1E5;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .home-btn:hover{
    color: #195D15;
    transform: scale(1.2);
  }
  
  .education-btn{
    color: #DCE1E5;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .education-btn:hover{
    color: #195D15;
    transform: scale(1.2);
  }
  
  .project-btn{
    color: #DCE1E5;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .project-btn:hover{
    color: #195D15;
    transform: scale(1.2);
  }
  
  .activities-btn{
    color: #DCE1E5;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .activities-btn:hover{
    color: #195D15;
    transform: scale(1.2);
  }
  
  .contact-btn{
    color: #DCE1E5;
    text-decoration: none;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: transform 0.3s ease;
  }

  .contact-btn:hover{
    color: #195D15;
    transform: scale(1.2);
  }
  
  .socialMediaIcon{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 32px;
  }

  .socialMediaIcon a{
    transition: transform 0.3s ease;
  }

  .socialMediaIcon a:hover{
    transform: scale(1.3);
  }