body {
  background-image: url("./img/Ellipse1.png"), url("./img/Ellipse2.png"), url("./img/Ellipse3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -458px -399px, 1045px 566px, -478px 496px;
  background-color: #181919;
}


